<div class="col-sm-8 col-md-9">
    <article>
        <p>
            In non elementum nulla. Sed non tortor et eros placerat blandit. 
            Etiam lacinia dolor consequat tellus rhoncus, semper tristique velit 
            tincidunt. Ut et justo accumsan, hendrerit neque a, cursus leo. Nullam 
            eget bibendum dolor. Maecenas convallis ipsum non dolor finibus, sed 
            vestibulum odio laoreet. Class aptent taciti sociosqu ad litora torquent 
            per conubia nostra, per inceptos himenaeos. Curabitur non metus pharetra,
             tempus diam eu, malesuada mauris. Nulla facilisi. Cras vitae ex eget 
             ante faucibus varius. Suspendisse potenti.

            Duis tempus sed leo non vulputate. Nunc semper, nibh nec fringilla pretium, 
            purus quam luctus urna, non ornare diam ex sed mauris. Phasellus eget turpis
            dapibus felis maximus condimentum. Phasellus porttitor mattis tortor vitae
            accumsan. Ut varius massa massa, a egestas justo malesuada id. Nullam 
            fermentum lacinia lacinia. Donec dictum accumsan ex. Quisque laoreet sem 
            at dui venenatis ullamcorper.
        </p>
    </article>
</div>