<div class="col-sm-8">
    <div>
        <h2> Recipe Index </h2>
    </div>

    {{#each foundPosts}}

        <article>
            <h3>{{this.title}}</h3>
            <p>{{this.body}}</p>
            <div>
                <a href="/post-editor/viewPost/{{this._id}}" class="btn btn-primary">Read More >></a>
            </div>
        </article>

    {{/each}}
</div>