<div class="col-sm-3 text-center">

    <div>
        <img class="img-responsive" src="/assets/images/cake-img.jpg">
    </div>

    <div>
        <form action="/search-results" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="icon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    <div>

    <div id="category-panel" class="panel panel-default">
        <h4 class="panel-heading">Categories</h4>
        <ul class="list-unstyled">

        </ul>

    </div>

    <div>
        <img class="img-responsive img-thumbnail" src="/assets/images/apple-fritta-main.jpg">
        <div>
            <h4 class="text-center">Gallery</h4>
        </div>
        <img class="img-responsive img-thumbnail" src="/assets/images/apple-fritta-sec.jpg">
    </div>

    <div class="panel panel-primary">
        <p class="panel-heading">Our Favourite</p>
        <img class="img-responsive img-thumbnail" src="/assets/images/apple-fritta-main.jpg">
        <p class="panel-footer">Apple Fritters</p>
    </div>

</div>