<section class="col-sm-4 col-md-3 section section--aside">

    <article class="article article--aside">
        <div>
            <img class="img-responsive" src="/assets/images/portrait.jpg">
            <h4>About Us</h4>
            <p>We are a Mum and Son combo of baking explorers. I choose simple recipes for my son to help out.</p>
        </div>

        <div class="article__form--aside">
            <form action="/search-results" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-primary">
                            <span class="icon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </article>

    <article class="article article--aside">
        <div id="category-panel" class="article__categories--aside">
            <h4 class="">Categories</h4>
            <ul class="list-unstyled">
                <!-- DB fills in list -->
            </ul>
        </div>
    </article>

    <article class="article article--aside">
        <div class="article__gallery--aside">
            <img class="img-responsive img-thumbnail" src="/assets/images/apple-fritta-main.jpg">
            <div>
                <a href="/gallery"><h4 class="text-center">Gallery</h4></a>
            </div>
            <img class="img-responsive img-thumbnail" src="/assets/images/apple-fritta-sec.jpg">
        </div>
    </article>

</section>