<div id="edit-form" class="collapse col-sm-8">
        <form method="POST" action="" class="form-group">

            <div class="form-group {{#if title}}has-error{{/if}}">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control" value="{{editPost.title}}"/>
                {{#if title}}<span class="pull-right">* Title missing.</span>{{/if}}
            </div>

            <div class="form-group">
                <div class="btn btn-default {{#if category}}btn-danger{{/if}}" data-toggle="collapse" data-target="#category-checkbox">
                    Select from the categories listed <span class="icon-arrow-37"></span>
                </div>
                <div id="category-checkbox" class="collapse">
                    <label for="cake">Cake</label>
                    <input class="form-control" type="checkbox" name="category[]" value="cake"></br>
                    <label for="pancake">Pancake</label>
                    <input class="form-control" type="checkbox" name="category[]" value="pancake"></br>
                    <label for="muffin">Muffin</label>
                    <input class="form-control" type="checkbox" name="category[]" value="muffin"></br>
                    <label for="chocolate">Chocolate</label>
                    <input class="form-control" type="checkbox" name="category[]" value="chocolate"></br>
                </div>
            </div>

            <div class="form-group {{#if body}}has-error{{/if}}">
                <br /><label for="body">Description:</label>
                <textarea type="text" name="body" class="form-control">{{editPost.body}}</textarea>
                {{#if body}}<span class="pull-right">* Description missing.</span>{{/if}}
            </div>   

            <br /><button type="submit" class="btn btn-lg btn-primary"/>Update <span class=""></span></button>
        </form>
</div>