<div class="col-sm-8 col-md-9 section-gallery" id="gallery-page">

    <div class="gallery-title">
        {{#if pageTitle }}
            <h2 class="jumbotron">
                {{ pageTitle }}
            </h2>
        {{/if}}
    </div>

    <div class="row gallery-img-block">

        {{#if foundPosts }}

            {{#each foundPosts }}

                {{#if this.primaryPhoto}}

                    <div class="col-sm-3 gallery-img-block__thumbnail text-center">

                        <img class="img-responsive img-thumbnail" src="/assets/images/{{this.primaryPhoto}}" data-id="{{this._id}}">

                    </div>

                {{/if}}

            {{/each}}

        {{else}}

            <h3> Sorry No Photos Availible </h3>

        {{/if}}

    </div>

    <ul class="pagination text-center row">

        {{#paginator pageData}} {{/paginator}}

        
    </ul>

    <div class="gallery-modal" id="gallery-modal">
        <div class="modal__cancel-btn row">
            <div class="col-md-12">
                <button class="icon-delete-1"></button>
            </div>
        </div>

        <div class="modal__content row">
            <div class="modal__content__prev-btn col-sm-3">
                <button class="icon-arrow-67"></button>
            </div>

            <div class="modal__content__img col-sm-6 text-center">
                <figure>
                    <img src="/assets/images/default-placeholder.png" class="img-responsive">
                
                    <figcaption>'name'</figcaption>
                </figure>
            </div>

            <div class="modal__content__next-btn col-sm-3">
                <button class="icon-arrow-68"></button>
            </div>
        </div>
    </div>

</div>