<div class="col-sm-4 col-sm-offset-4 panel panel-primary">
    <h2 class="panel-heading">Login</h2>
    <form class="form-group panel-body" method="POST" action="">

        <div class="input-group">
            <label for="username"> Username: </label>
            <input type="text" name="username" class="form-control">
        </div>

        </br>

        <div class="input-group">
            <label for="password"> Password: </label>
            <input type="password" name="password" class="form-control">
        </div>

        </br>

        <button class="btn btn-primary">Submit</button>

    </form>
</div>