<div class="col-sm-8">

        {{#each foundPosts}}

            <div>

                <h2>{{this.category}}</h2>

                {{#each this.postsCropped}}
                    <p>{{this.title}}</p>
                {{/each}}

            </div>

        {{/each}}


        <ul class="pagination text-center">

        {{#times pages}}
            <li><a href="/recipe-index/page?p={{this}}">{{this}}</a></li>
        {{/times}}
        
        </ul>

</div>