<div class="col-sm-12">
    <div>
        <a href="/"><span class="icon-arrow-39"></span> Back</a>
    </div>
    <article>
        <p class="small">{{foundPost.created}}</p>
        <h2>{{ foundPost.title }}</h2>
        <p>{{ foundPost.body }}</p>
    </article>
</div>