<div class="col-sm-12">
    <div class="row">
        <a href="/post-editor" class="pull-left">< Back</a>
    </div>
    <article class="row">
        <h2>{{ foundPost.title }}</h2>
        <p>{{ foundPost.body }}</p>
        <div>
            <button class="btn btn-default" data-toggle="collapse" data-target="#edit-form">
                Edit <span class="icon-edit-1"></span>
            </button>
            <a href="/post-editor/deletePost/{{this._id}}" class="btn btn-danger">Delete <span class="icon-bin-2"></span></a>
        </div>
    </article>
</div>