<div class="col-sm-8 col-md-9">

    <div>
        {{#each foundPosts.posts}}
            <a href="/view-post/{{this._id}}">
                <h4>{{ this.title }}</h4>
            </a>
        {{/each}}

    </div>

</div>