// Global body Styling
//----------------------------------//

body {
    background-color: $light;
    background-image: url('/assets/images/oven.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 250px;

        @include font-family-main;

        .container {
            @include mediaQ--min($bp-md){
                width: 1000px;
            }
        }
}

