// Global body Styling
//----------------------------------//

body {

    background-image: url('/assets/images/bg-tile.jpg');
    background-size: 20%;

        @include font-family-main;

        .container {
            @include mediaQ--min($bp-md){
                width: 1000px;
        }
    }
}

.site-body__gradient {
    @extend %bg-gradient-white;
}

// a link hover styles 
#site-body {
    .primary-hover-link {
        text-decoration: none;
        color: $primary-color;
        transition: color 0.25s;
    }

    .extra-hover-link {
        text-decoration: none;
        color: $extra-color;
        transition: color 0.25s;
    }

    .scale-bg-link {
        transform: scale(1.2);
        transition: transform 0.2s;
    }
}