/*===================

    Placeholders

=====================*/



// gradient for BODY background

%bg-gradient {
    background: rgba(253,216,219,1);
    background: -moz-linear-gradient(-45deg, rgba(253,216,219,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(253,216,219,1)), color-stop(50%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(-45deg, rgba(253,216,219,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(253,216,219,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(253,216,219,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg, rgba(253,216,219,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd8db', endColorstr='#ffffff', GradientType=1 );
}

// gradient for BODY background

%bg-gradient-white {
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.71) 20%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0.46)), color-stop(20%, rgba(255,255,255,0.71)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.71) 20%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.71) 20%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.71) 20%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.46) 0%, rgba(255,255,255,0.71) 20%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
