#site-body {

    .aside__article {
        h4 {
            text-transform: uppercase;
            color: $secondary-color;
        }

        div {
            margin: $mp-default-row;
        }

        img {
            //border: $border-primary-thin;
            //border-radius: 50%;
        }
    }

    .aside__article__form {
        form {
            margin: $mp-double-row;
        }

        .form-control {
            height: 33px;
            border: $border-primary-thin;
        }
    }

    .aside__article__gallery {
        position: relative;

        img{
            border: $border-contrast-thin;
            margin-bottom: $mp-lg;
        }

        div {
            position: absolute;
            background: $contrast-color;
            padding: $mp-sm $mp-double;
            outline: $outline-light-thin;
            outline-offset: -5px;
            margin: 0;
            left: 50%;
            top: 39%;
            transform: translateX(-50%);
        }

        h4 {
            color: $light;
            letter-spacing: 1px;
        }
    }

    .aside__article__list {
        h4 {
            border-bottom: $border-contrast-thick;
            padding-bottom: 5px; 
        }

        li {
            padding: $mp-default-row;
        }

        a{
            color: $dark;
            text-transform: capitalize;
        }
    }

}