/*-----------------------

    Gallery Partial

------------------------*/

.section-gallery {

    .pagination {
        margin: $mp-triple 0;
    }

}

.gallery-img-block {
    display: flex;
    flex-wrap: wrap;


}

.gallery-img-block__thumbnail {
    cursor: pointer;
    
    img {
        border-radius: 0;
        max-height: 120px;
        margin-bottom: 15px;
        padding: 0;
    }
}

// onClick classes

.gallery-show {
    display: flex;
}