/*-----------------------

    Home page Partial

------------------------*/

#site-body {
    .section-home__panel__title {
        text-align: center;
        margin: 30px 0;

            @include mediaQ--min($bp-sm) {
                font-size: 30px;
            }
    }
}

.section-home {
    position: relative;
    padding-right: $mp-double;

        @include mediaQ--min($bp-lg) {
            padding-right: $mp-triple;
        }

        article {
            padding: $mp-lg;

            @include mediaQ--max($bp-sm) {
                padding: $mp-default;
            }
        }

        .panel-body{
            padding: $mp-double;

            @include mediaQ--max($bp-sm) {
                padding: $mp-sm;
            }
        }

        img {
            max-height: 600px;
        }

        .panel-recipe-description {
            @include mediaQ--max($bp-sm) {
                max-height: 200px;
                overflow: auto;
            }
        }
}


// Div that signals 'latest post'
.recipe-banner {
    @include theme-contrast-inverse;
    position: relative;
    width: 100%;
    text-align: center;
    transform: translateX(-15px);
    font-family: $font-family-sub-heading;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 10;
    left: 15px;

        @include mediaQ--min($bp-md) {
            position: absolute;
            top: 50px;
    }
}