/*-----------------------

    Recipe index Partial

------------------------*/


    .section-recipe-index {
        padding-right: 60px;
     
        article {
            margin-bottom: 15px;
        }
    }

#site-body {
    .category-block {
        h4 {
            letter-spacing: 2px;
            font-size: 24px;
            margin: 0;
        }

        h3 {
            color: $contrast-color;
        }
    }
}

        .category-block__inner-section {
        height: 180px;
        text-align: center;
        padding: 2px;

            
            a {
                padding: 0;
                text-decoration: none;
            }

            img {
                max-height: 120px;
                border-radius: 0;
                border: none;
                padding: 0;
                width: 100%;
            }

            p {
                margin: $mp-default-row;
                color: inherit;
        }
    }

        .category-block__inner-section--last-child {
            height: 100%;
            display: flex;
            min-height: 180px;

            a {
                width: 100%;
                background: $contrast-color;
                display: flex;
                justify-content: center;
                flex-direction: column;

            }

            h4 {
                //background: $contrast-color;
                color: $light;
                margin: 0;
        }
    }
