#site-body {

    .recipe-banner {
        @include theme-contrast-inverse;
        position: relative;
        width: 100%;
        text-align: center;
        transform: translateX(-15px);
        font-family: $font-family-sub-heading;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 10;
        left: 15px;

        @include mediaQ--min($bp-md) {
            position: absolute;
            top: 50px;
        }
    }

}