
<!-- Error Page -->

<main class="container">
    <section class="row">

        <div class="col-sm-12 jumbotron">
            <h1>ERROR!</h1>
            <h3>{{msg}}</h3>
        </div>
        <div class="col-sm-12">
            <p>{{error}}</p>
        </div>

    </section>
</main>