<main class="container">
    <!-- Form for Post Creation -->
    <section>
        <div class="jumbotron row">
            <h1>{{ pageTitle }}</h1>
        </div>
        <div class="row">
            
            {{#if hasForm }}
                {{> form }}
            {{/if}}

            {{#if hasAllPosts}}
                {{> allPosts }}
            {{/if}}
                
            {{#if hasPrefilledForm}}
                {{> formPrefilled }}
            {{/if}}

        </div>
    </section>
</main>