<main>
    <section class="container">
        <div class="jumbotron row" >
            <h1 class="">My Baking Blog</h1>
        </div>
        <div class="row">

            {{> somePosts }}

        </div>
    </section>
</main>