<main class="container">
    <section class="row">
        <div class="col-sm-12">
            {{#if pageTitle }}
                <h1 class="jumbotron">
                    {{ pageTitle }}
                </h1>
            {{/if}}
        </div>
    </section>
    <div class="row">
        <section>

                {{#if homePage }}
                    {{> recentPosts }}
                {{/if}}

                {{#if recipeIndexPage}}
                    {{> recipeIndex }}
                {{/if}}

                {{#if viewPostPage }}
                    {{> viewPost }}
                {{/if}}

                {{#if viewCategoryPage}}
                    {{> viewCategory }}
                {{/if}}

                {{#if aboutPage }}
                    {{> about }}
                {{/if}}

                {{#if searchResultsPage }}
                    {{> searchResults }}
                {{/if}}

                {{#if galleryPage }}
                    {{> gallery }}
                {{/if}}

        </section>
        <aside>
            {{> aside}}
        </aside>
    </div>
</main>