<main class="container">
    <!-- Form for Post Creation -->
    <section>
        <div class="jumbotron row">
            <h1>{{ pageTitle }}</h1>
        </div>
        <div class="row alert-msg">

            {{#if alert.success }}
                <div class="alert alert-success">
                    <strong>New Post!</strong> 
                </div>
            {{/if}}

            {{#if alert.update }}
                <div class="alert alert-info">
                    <strong>Post Updated!</strong> 
                </div>
            {{/if}}

            {{#if alert.delete }}
                <div class="alert alert-danger">
                    <strong>Post Deleted!</strong> 
                </div>
            {{/if}}

        </div>
        <div class="row">
            
            {{#if hasForm }}
                {{> form }}
            {{/if}}

            {{#if hasAllPosts}}
                {{> allPosts }}
            {{/if}}
                
            {{#if hasPrefilledForm}}
                {{> formPrefilled }}
            {{/if}}

            {{#if hasViewPost}}
                {{> viewPost }}
            {{/if}}

        </div>
    </section>
</main>