<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/lib/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://file.myfontastic.com/ncjQH3qL3iqtxPyrLNBQDo/icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mogra|Oswald|Raleway|Roboto|Open+Sans" rel="stylesheet">    
    <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src='/assets/lib/bower_components/jquery/dist/jquery.min.js'></script>

    <title>My Baking Blog</title>
</head>
<body id="site-body">
    <header>
        <div class="jumbotron site-logo__block">
            <div class="site-logo-wrapper">
                <img src="/assets/images/site-logo.png" class="site-logo-wrapper__img">
                <h3>Baking Explorers</h3>
            </div>
        </div>
        <div class="header-navbar">
            {{#if isAdmin}}
                {{> adminNav }}
            {{else}}
                <nav class="navbar">
                    <div class="container">
                        <ul class="nav nav-tabs nav-justified">
                            <li><a href="/">Home</a></li>
                            <li><a href="/recipe-index">Recipes</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                        </ul>
                    </div>
                </nav>
            {{/if}}
        </div>
    </header>


    {{{ body }}}

 
    <footer class="navbar-inverse">
        <div class="container">
            <div class="row">
                <h4 class="col-sm-3">My Baking Blog 2017</h4>
                <ul class="list-unstyled col-sm-9">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipe-index">Recipes</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/post-editor">Post Editor</a></li>
                </ul>
            </div>
        </div>
    </footer>



    <script src="/assets/javascripts/bootstrap.js"></script>
    <script src="/assets/lib/bower_components/lodash/lodash.js"></script>
    <script src="/assets/javascripts/index.bundle.js" charset="utf-8"></script>
</body>
</html>