<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/lib/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://file.myfontastic.com/ncjQH3qL3iqtxPyrLNBQDo/icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mogra|Oswald|Raleway|Roboto|Open+Sans" rel="stylesheet">    
    <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src='/assets/lib/bower_components/jquery/dist/jquery.min.js'></script>

    <title>My Baking Blog</title>
</head>
<body id="site-body">
    <div class="site-body__gradient">
    <header>
        <div class="site-logo__block">
            <div class="site-logo-wrapper">
                <img src="/assets/images/site-logo.png" class="site-logo-wrapper__img">
                <h3>Baking Explorers</h3>
            </div>
        </div>
        <div class="header-navbar" data-spy="affix" data-offset-top="215">
            {{#if isAdmin}}
                {{> adminNav }}
            {{else}}
                <nav class="navbar">
                    <div class="container">
                        <ul class="nav nav-tabs nav-justified">
                            <li {{#if homePage}} class="active" {{/if}}><a href="/">Home</a></li>
                            <li {{#if recipeIndexPage}} class="active" {{/if}}><a href="/recipe-index">Recipes</a></li>
                            <li {{#if aboutPage}} class="active" {{/if}}><a href="/about">About</a></li>
                            <li {{#if galleryPage}} class="active" {{/if}}><a href="/gallery">Gallery</a></li>
                        </ul>
                    </div>
                </nav>
            {{/if}}
        </div>
        <div class="visible-xs">
            <div class="aside__form">
                <form action="/search-results" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search" name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-primary--icon">
                                <span class="icon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        <div>
    </header>

    {{{ body }}}

 
    <footer class="navbar-inverse">
        <div class="container-fluid footer-inner">
            <div class="row">
                <h4 class="col-sm-3">My Baking Blog 2017</h4>
                <ul class="list-unstyled col-sm-9">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipe-index">Recipes</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/post-editor">Post Editor</a></li>
                </ul>
            </div>
        </div>
        {{#if homePage}}
            <div class="bg-illustration visible-lg">
                <img src="/assets/images/oven.jpg">
            </div>
        {{/if}}
    </footer>



    <script src="/assets/javascripts/bootstrap.js"></script>
    <script src="/assets/lib/bower_components/lodash/lodash.js"></script>
    <script src="/assets/javascripts/index.bundle.js" charset="utf-8"></script>
    </div>
</body>
</html>