<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/lib/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://file.myfontastic.com/ncjQH3qL3iqtxPyrLNBQDo/icons.css" rel="stylesheet">

    <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src='/assets/lib/bower_components/jquery/dist/jquery.min.js'></script>

    <title>My Baking Blog</title>
</head>
<body>

    <h1>hello from Main handlebars</h1>

    {{{body}}}

    <script src="/assets/javascripts/bootstrap.js"></script>
    <script src="/assets/lib/bower_components/lodash/lodash.js"></script>
    <script src="/assets/javascripts/index.bundle.js" charset="utf-8"></script>
</body>
</html>