
#site-body {

    .btn-primary {
        @include theme-primary-inverse;
        font-family: $font-family-sub-heading;
        letter-spacing: 1px;
        border-radius: 0;
        text-transform: uppercase;
        padding: $mp-sm $mp-lg;
        opacity: 1;
        transition: opacity 0.25s;
    
                
        &:hover {
            opacity: 0.8;
        }

        @include mediaQ--max($bp-sm) {
            font-size: $font-size-sm;
        }
    }

    .btn-primary--icon {
        padding: 6px 12px;
    }
}