

#site-body {

    .site-logo__block {
        
        display: flex;
        justify-content: center;
        margin: 0;
        padding: $mp-default 0 $mp-double 0;
        background-color: $light;

        @include mediaQ--max($bp-sm) { 
            padding: $mp-sm;
        }

            h3 {
                margin: 0;
                text-transform: uppercase;

                @include mediaQ--max($bp-sm) {
                    font-size: $font-size-md;
                }
            }
    }

    .site-logo-wrapper {
        text-align: center;
        font-family: $font-family-sub-heading;
        color: $dark;

    }

    .site-logo-wrapper__img {
        max-width: 300px;

        @include mediaQ--max($bp-sm) {
            max-width: 220px;
        }
    }

}

// add class when navbar affix's

.addBottomPadding {
    padding-bottom: 98px;
}
