

#site-body {

    .site-logo__block {
        
        display: flex;
        justify-content: center;
        margin: 0;
        padding-bottom: $mp-double;
        background-color: $light;

            @include mediaQ--min($bp-sm) {
                background-image: url('/assets/images/bowl.jpg'), url('/assets/images/flour.jpg');
                background-repeat: no-repeat, no-repeat;
                background-size: 140px, 140px;
                background-position: top left, bottom right;
            }

            @include mediaQ--min($bp-lg) {
                background-image: url('/assets/images/bg-left-side.jpg');
                background-size: contain;
                background-position: left;
            }

            h3 {
                margin: 0;
                text-transform: uppercase;
            }
    }

    .site-logo-wrapper {
        text-align: center;
        font-family: $font-family-sub-heading;
        color: $dark;

    }

    .site-logo-wrapper__img {
        max-width: 500px;
    }

}

// add class when navbar affix's

.addBottomPadding {
    padding-bottom: 98px;
}
