

#site-body {


    .header-navbar {
        //background-color: $primary-color;
        position: relative;


        .navbar {
            background-color: $primary-color;
            min-height: 0;
            margin: 0;
            border-radius: 0;
            -webkit-box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.39);
            -moz-box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.39);
            box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.39);
        }

        .container {}

        .nav {
            @include mediaQ--max($bp-sm) {
                display: flex;
                justify-content: space-between;
            }
        }

        li {
            @include mediaQ--max($bp-sm) {
                display: inline-block;
                padding: $mp-sm;
            }
        }

        li.active > a{
            background: transparent;
            border-radius: 0;
            border: none;
            transform: scale(1.2);
            color: $dark;
            cursor: pointer;

            @include mediaQ--max($bp-sm) {
                transform: scale(1);
            }
        }


        a {
            font-family: $font-family-sub-heading;
            color: $light;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-bottom: 1px solid $primary-color;

            &:hover {
                background: transparent;
                border-radius: 0;
                border: none;
                transform: scale(1.2);
                transition: transform 0.2s;
            }

            &:focus {
                background: transparent;
                border-radius: 0;
                border: none;
                transform: scale(1.2);
                color: $extra-color;
                cursor: pointer;
            }

            @include mediaQ--max($bp-sm) {
                font-size: 12px;
                padding: 0;
                margin: 0;
                display: inline-block;
                border: none;
            }

        }
    }
}