

#site-body {


    .header-navbar {
        background-color: $primary-color;


        .navbar {}

        .container {}

        .nav {}

        li {}

        a {
            font-family: $font-family-sub-heading;
            color: $light;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-bottom: 1px solid $primary-color;
        }
    }
}