#site-body {

    .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: $mp-double;

            ul, a {
                //@include theme-primary-inverse;
                border-radius: 0;
                color: $primary-color;
                background: $light;
        }

        li.active > a{
            @include theme-primary-inverse;
            cursor: pointer;
        }
    }
}