#site-body {

    .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: $mp-double;
        
            ul, a {
                border-radius: 0;
                color: $primary-color;
                background: $light;
                border: transparent;
        }

        li.active > a{
            @include theme-primary-inverse;
            cursor: pointer;
        }
    }
}