#site-body {

        .panel-default {
            border: $border-primary-thin;
            border-radius: 0;

            img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            .btn-primary {
                margin: $mp-double 0 0 0;
                border-radius: 0;
            }

        }

        .panel-primary {
            border: $border-primary-thin;
            border-radius: 0;

            .panel-heading {
                color: $light;
                background-color: $primary-color;
                border: $primary-color;
                border-radius: 0;
        }
    }
}