#site-body {

    .section__aside {
        text-align: center;

        article {
            margin-bottom: $mp-triple;
                
                p {
                    color: $dark;
            }
        }
    }

    .aside {
        h4 {
            text-transform: uppercase;
            color: $secondary-color;
        }

        div {
            margin: $mp-default-row;
        }

    }

    .aside__form {
        form {
            margin: $mp-double-row;
        }

        .form-control {
            height: 33px;
            border: $border-primary-thin;
        }
    }

    .aside__gallery {
        position: relative;

        img{
            //border: $border-contrast-thin;
            //margin-bottom: $mp-lg;
            //background: $contrast-color;
            //border-radius: 0;

            border-radius: 100%;
            height: 150px;
            width: 160px;
            margin-bottom: 20px;
        }

        div {
            //position: absolute;
            //background: $contrast-color;
            //padding: $mp-sm $mp-double;
            //outline: $outline-light-thin;
            //outline-offset: -5px;
            //margin: 0;
            //left: 50%;
            //top: 39%;
            //transform: translateX(-50%);
        }

        h4 {
            color: $secondary-color;
            //border-bottom: $border-contrast-thick;
            padding-bottom: 5px;
            //letter-spacing: 1px;
        }
    }

    .aside__list {
        h4 {
            //border-bottom: $border-contrast-thick;
            padding-bottom: 5px; 
        }

        li {
            padding: $mp-default-row;
        }

        a{
            color: $dark;
            text-transform: capitalize;

            &:hover {
                @extend .primary-hover-link;
            }
        }
    }
}