
#site-body {

    footer {
        position: relative;

        a {
            font-family: $font-family-sub-heading;
            color: $light;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover {
                @extend .extra-hover-link;
            }
        }
    }

    .footer-inner {
        background-color: $contrast-color;
        padding: 15px 30px 30px 30px;
        position: relative;
        z-index: 4;
    }

    .bg-illustration {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        transition: bottom 0.5s;


        img {
            @include mediaQ--max($bp-sm) {
                height: 100px;
            }
        }
        
    }
}