#site-body {

    section {

        h4 {
            font-family: $font-family-sub-heading;
            text-transform: uppercase;
            color: $light;
        }

        h2 {
            color: $primary-color;
            font-size: $font-size-xlg;
            margin: $mp-double-row;
            text-transform: capitalize;

            @include mediaQ--max($bp-sm) {
                font-size: $font-size-lg;
                margin: $mp-default 0;
            }
        }

        h3 {
            color: $primary-color;
            font-size: $font-size-lg;
            font-family: $font-family-heading;
            padding: 0;
            text-transform: capitalize;
            //margin: $mp-double-row;
        }

        p {
            color: $dark;
            line-height: 1.6;
        }

        a {}

    }
}