#site-body {

    .section__recipe-panel {
        position: relative;
    }

    .recipe-banner {
        @include theme-contrast-inverse;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50px;
        transform: translateX(-15px);
        font-family: $font-family-sub-heading;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 10;
    }

    .recipe-pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

            ul, a {
                @include theme-primary-inverse;
        }
    }
}